<aside class="main-sidebar">
    <div class="sidebar">
        <ul class="sidebar-menu">
            <li class="active">
                <a href="~/Panel/Anasayfa">
                    <i class="fa fa-tachometer"></i><span>Anasayfa</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i><span>Tanımlar</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Tanim/TesisKategorileri">Tesis Kategorileri</a></li>
                    <li><a href="~/Tanim/UrunKategorileri">Ürün Kategorileri</a></li>
                    <li><a href="~/Tanim/Yetkiler">Yetki</a></li>
                    <li><a href="~/Tanim/Adresler">Adresler</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-basket"></i><span>Bilgiler</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Degerler/Firmalar">Firmalar</a></li>
                    <li><a href="~/Degerler/Tesisler">Üretim Tesisleri</a></li>
                    <li><a href="~/Degerler/Urunler">Ürünler</a></li>
                    <li><a href="~/Degerler/Kisiler">Kişiler</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i><span>Tedarik</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Tedarik/Talepler">Talepler</a></li>
                    <li><a href="~/Tedarik/Tedarikler">Tedarikler</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>