<footer class="main-footer">
    <strong>&copy; 2018 <a href="http://kemalkolcuoglu.site">Kemal Kolcuoğlu - Abdül Gafur Kazım Güler</a>.</strong> TEKNOLOJİ FAKÜLTESİ BİLGİSAYAR MÜHENDİSLİĞİ BİTİRME PROJESİ
</footer>
