<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEDARİK ZİNCİRİ | @ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Assets/dist/img/ico/favicon.png" type="image/x-icon">
    <link href="~/Assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/plugins/lobipanel/lobipanel.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/plugins/pace/flash.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/themify-icons/themify-icons.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/plugins/emojionearea/emojionearea.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/plugins/monthly/monthly.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/dist/css/stylecrm.css" rel="stylesheet" type="text/css">
</head>
