@model TedarikZinciriOtomasyonu.VarlikKatmani.tedarik

@{
	ViewBag.Title = "Tedarik Sil";
}

<section class="content-header">
	<div class="header-icon">
		<i class="fa fa-users"></i>
	</div>
	<div class="header-title">
		<h1>Tedarikelr</h1>
		<small>Tedarik Sil</small>
	</div>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-bd lobidrag">
				<div class="panel-heading">
					<div class="btn-group" id="buttonlist">
						<a class="btn btn-add " href="~/Tedarik/Tedarikler">
							<i class="fa fa-list"></i>  Tedarik Listesi
						</a>
					</div>
				</div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.TeslimTarihi)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.TeslimTarihi)
						</dd>
					</dl>

					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()

						<div class="form-actions no-color">
							<input type="submit" value="Sil" class="btn btn-default" />
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>
